{
  "exclude": ["src/**/*.spec.ts","gulpfile.js"],
  "include": ["src/**/*.ts"],
  "all": true,
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "sourceMap": true,
  "instrument": true
}
